cpld_xc9572xl_module/ise/*
!cpld_xc9572xl_module/ise/cpld_xc9572xl_module.xise
!cpld_xc9572xl_module/ise/cpld_xc9572xl_module.gise
cpld_xc2c64a_module/ise/*
!cpld_xc2c64a_module/ise/cpld_xc2c64a_module.xise
!cpld_xc2c64a_module/ise/cpld_xc2c64a_module.gise
